:root {
  --timing: 0.2s ease-in;
  --color-main: #1a1a1a;
  --color-secondary: #5f5f5f;
  --color-orange: #ff7b00;
  --color-green: #15c215;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-main);
}

body {
  position: relative;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.container {
  max-width: 1240px;
  padding: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 10px;
  }
}

.section_title {
  font-size: 26px;
  font-weight: 500;
}

.section_title-separator {
  border-top: 3px solid var(--color-main);
  margin-bottom: 30px;
}

.section_subtitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 22px;
  font-weight: normal;
}

.section_subtitle .dot {
  flex: 1;
  border-bottom: 2px dotted var(--color-secondary);
  height: 6px;
}

.hobby-input {
  min-width: 240px;
  width: 40%;

  padding: 8px;
  margin-bottom: 20px;
  margin-left: 28px;

  font-size: 16px;
  line-height: 16px;
}

.hobby-input::placeholder {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-secondary);
}

.shake {
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  outline: 1px solid #ff1e00;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Hobby list */

.hobby-list {
  margin-bottom: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.hobby-list_item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  margin-bottom: -1px;
  margin-top: -1px;

  transition: border-bottom var(--timing), border-top var(--timing);

  cursor: pointer;
}

.hobby-list_item:hover,
.hobby-list_item:focus {
  border-bottom: 1px solid var(--color-main);
  border-top: 1px solid var(--color-main);
}

.hobby-list_item:hover > .hobby-list_item-button,
.hobby-list_item:focus > .hobby-list_item-button,
.hobby-list_item:hover > .friend_complain-button,
.hobby-list_item:focus > .friend_complain-button {
  opacity: 1;
}

.hobby-list_item--mine {
}

.hobby-list_item--friend {
}

.friend_is-mine-text {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  display: none;

  color: var(--color-green);
  white-space: nowrap;
}

.friend_is-mine-text.is-mine {
  display: flex;
}

.friend_complain-button {
  min-width: fit-content;
  margin-left: auto;
  padding: 8px;

  display: flex;
  gap: 4px;
  align-items: center;

  opacity: 0;

  transition: opacity var(--timing);
}

.friend_complain-button:hover,
.friend_complain-button:focus {
  opacity: 1;
}

/* Hobby item Button */

.hobby-list_item-button {
  flex-shrink: 0;
  width: 20px;
  height: 20px;

  text-align: center;

  font-size: 0;
  opacity: 0;
  transition: opacity var(--timing);
}

.hobby-list_item-button:hover,
.hobby-list_item-button:focus {
  opacity: 1;
}

.hobby-list_item-button--friend.is-mine {
  cursor: not-allowed;
}

/* Hobby item Text */

.hobby-list_item-text {
  position: relative;
  width: 100%;

  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}
.hobby-list_item-text::after {
  pointer-events: none;
  content: "";
  background-image: url("public/fader.png");
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 100%;
}

@media screen and (max-width: 640px) {
  .hobby-list_item-text::after {
    width: 20px;
  }
}

.hobby-list_item-text--mine {
}

.hobby-list_item-text--friend {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

/* Show/Hide button */

.show-more {
  margin-left: 28px;
  margin-bottom: 30px;

  display: none;
  text-decoration: underline;
  color: var(--color-orange);
  font-size: 16px;
  line-height: 16px;

  transition: text-shadow var(--timing);
}

.show-more.active {
  opacity: 1;
  display: block;
}

.show-more:hover {
  text-shadow: 0px 1px 2px var(--color-orange);
}

/* Modal window */

.modal__mask {
  position: fixed;
  z-index: 9998;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 0 50px;

  opacity: 0;
  visibility: hidden;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--timing);
}

.modal__mask.open {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  max-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px var(--color-main);
}

.modal__title {
  text-align: center;
}

.modal__textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.modal__submit-button {
  padding: 8px;
  background-color: #fff;
  color: var(--color-orange);
}

@media screen and (max-width: 640px) {
  .modal__mask {
    padding: 0 16px;
  }
  .modal__container {
    padding: 16px;
    gap: 16px;
  }

  .modal__title {
    font-size: 1.2rem;
  }
}
